global
  log stdout format raw local0
defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s
listen smb
  bind *:445
  server guest 172.30.51.30:445
listen ssh
  bind *:22
  server guest 172.30.51.30:22
listen ftp
  bind *:21
  server guest 172.30.51.30:21
listen readiness
  bind *:18080
  server guest 172.30.51.30:18080
